<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huice.core.system.dao.OperationDao">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.huice.database.entity.Operation">
                    <id column="id" property="id"/>
                <result column="creator_id" property="creatorId"/>
                <result column="creator_name" property="creatorName"/>
                <result column="created_time" property="createdTime"/>
                <result column="modifier_id" property="modifierId"/>
                <result column="modifier_name" property="modifierName"/>
                <result column="modified_time" property="modifiedTime"/>
                <result column="tenant_id" property="tenantId"/>
                    <result column="name" property="name"/>
                    <result column="abbr" property="abbr"/>
                    <result column="type" property="type"/>
                    <result column="seq" property="seq"/>
                    <result column="position" property="position"/>
                    <result column="icon" property="icon"/>
                    <result column="sort" property="sort"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
                creator_id,
                creator_name,
                created_time,
                modifier_id,
                modifier_name,
                modified_time,
                tenant_id,
            id, name, abbr, type, seq, position, icon, sort
        </sql>

</mapper>